@page
@model WebPDV.WApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Produtos";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row mb-3">
        <div class="col">
            <a asp-page="Create" class="btn btn-primary">Criar Novo Produto</a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model.Product)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">R$ @Html.DisplayFor(modelItem => item.Price)</p>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
